[user]
	email = vuhoaiduong312@example.com
	name = DuongVu312

[alias]
    co = checkout
    br = branch
    cm = commit
    a = add
    p = push
    mrg = merge
    fch = fetch
    rb = rebase
    s = status
    l = log --oneline
    ll = "log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %n%s' --abbrev-commit --date=relative --all"
    lg = "log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %n%s' --abbrev-commit --date=relative"
    last = log -1 HEAD
    amend = commit --amend
    ac = "!git add -A && git commit -m"

[commit]
	template = C:\\Users\\admin\\.git-commit-template.txt

[includeIf "gitdir:~/siv-dev/client-work/"]
    path = ~/siv-dev/client-work/.gitconfig